<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountsReadServlet</display-name>
    <servlet-name>AccountsReadServlet</servlet-name>
    <servlet-class>com.controller.AccountsReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsReadServlet</servlet-name>
    <url-pattern>/accounts/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsWriteServlet</display-name>
    <servlet-name>AccountsWriteServlet</servlet-name>
    <servlet-class>com.controller.AccountsWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsWriteServlet</servlet-name>
    <url-pattern>/accounts/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomersReadServlet</display-name>
    <servlet-name>CustomersReadServlet</servlet-name>
    <servlet-class>com.controller.CustomersReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersReadServlet</servlet-name>
    <url-pattern>/customers/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomersWriteServlet</display-name>
    <servlet-name>CustomersWriteServlet</servlet-name>
    <servlet-class>com.controller.CustomersWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersWriteServlet</servlet-name>
    <url-pattern>/customers/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>com.controller.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementServlet</display-name>
    <servlet-name>StatementServlet</servlet-name>
    <servlet-class>com.controller.StatementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementServlet</servlet-name>
    <url-pattern>/statement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutiveAccountServlet</display-name>
    <servlet-name>ExecutiveAccountServlet</servlet-name>
    <servlet-class>com.controller.ExecutiveAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutiveAccountServlet</servlet-name>
    <url-pattern>/executiveAccount</url-pattern>
  </servlet-mapping>
</web-app>